<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/static/assets/img/favicons/icon_logo.svg" />
  <link rel="stylesheet" href="/static/assets/css/uswds.css" media="all" type="text/css">
</head>

<body>
  <a class="usa-skipnav" href="#main-content">Skip to main content</a>
  <div class="usa-overlay"></div>
  <div class="usa-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="usa-layout-docs__sidenav display-none desktop:display-block desktop:grid-col-3">
          <nav aria-label="Secondary navigation">
            <ul class="usa-sidenav" id="database-list">
              <li class="usa-sidenav__item">
               <div class="margin-top-1 margin-bottom-1"><b>Metadata</b></div>
              </li>
              <li>
                <b>Pages</b>: {{.pageCount}} ({{.bodyCount}})
              </li>
            </ul>

          </nav>
          <div id="stats"></div>
        </div>
        <main class="desktop:grid-col-9 usa-prose" id="main-content">
          <h1>Search {{.tld}}{{if .domain}}.{{.domain}}{{end}}{{if .subdomain}}.{{.subdomain}}{{end}}</h1>
          <p class="usa-intro">
            Jemsion: a Search.gov MVP
          </p>

          <section aria-label="Big search component">
            <label class="usa-sr-only" for="search-field-en-big">Search</label>
            <input class="usa-input" id="six-search" type="six-search" name="six-search" />
            <br />
            <button class="usa-button" id="six-button">
              <span class="usa-search__submit-text">Search</span>
            </button>
            <ol id="six-list"></ol>
          </section>
        </main>
      </div>


      <script>


        function DoTheSearch() {
          var post_url = "{{.scheme}}://{{.search_host}}:{{.search_port}}/api/search"
          console.log("post_url", post_url);
          var query = document.getElementById('six-search').value
          console.log(query);

          const data = { 
            "terms": query, 
            "host": "{{.fqdn}}", 
            "d64_start": "{{.d64_start}}",
            "d64_end": "{{.d64_end}}",
          }
          
          console.log("data", data);

          fetch(post_url, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
          })
            .then(response => {

              if (!response.ok) {
                throw new Error('Network response was not ok');
              }

              return response.json();
            })
            .then(userData => {
              // Process the retrieved user data
              document.getElementById("six-list").innerHTML = "";

              var list = document.getElementById('six-list');
              console.log(userData);
              
              for (var k in userData.results) {
                var r = userData.results[k];
                if (r.PathString.length > 0) {
                  var entry = document.createElement('li');
                  // Fixme... return the title in the result
                  var h = "<a href='https://" + r.FQDN + r.PathString + "' target='_blank'>" + r.PageTitle + "</a>"
                  h += "<br/>" + "<span style=\"color:gray\">Terms used: " + r.Terms + "</span>"
                  h += "<br/>" + r.Snippet;
                  entry.innerHTML = h
                  list.appendChild(entry);

                }
              }
            })
            .catch(error => {
              console.error('Error:', error);
            });
        };

        /////////////////////////
        // statPara
        function statPara(stats, tag, value, units) {
          var elapsedp = document.createElement('p')
          elapsedp.classList.add("margin-left-1")
          elapsedp.innerHTML = tag + ": " + value + " " + units
          stats.appendChild(elapsedp)
        }

        /////////////////////
        // nanoToMillis
        function nanoToMillis(v) {
          v = Math.round(v / 100000)
          v = v / 10
          return v
        }


        //////////////////////////////////
        // trim_to_chars
        function trim_to_chars(domain, n) {
          if (domain.length >= n) {
            first = domain.substr(0, 12)
            last = domain.substr(-12)
            return first + "..." + last
          } else {
            return domain
          }
        }

        /////////////////////////////////////
        // bold
        function bold(parent, msg) {
          e = document.createElement('p')
                    b = document.createElement('b')
                    b.innerHTML = msg
                    e.appendChild(b)
                    parent.appendChild(e)
        }

        //////////////////////////////////////////
        // getSortedHashDesc
        function getSortedHashDesc(inputHash) {
          var resultHash = {};

          var keys = Object.keys(inputHash);
          keys.sort(function (a, b) {
            return inputHash[a] - inputHash[b]
          }).reverse().forEach(function (k) {
            resultHash[k] = inputHash[k];
          });
          return resultHash;
        }

        //////////////////////////////////////////
        // getSortedHashAsc
        function getSortedHashAsc(inputHash) {
          var resultHash = {};

          var keys = Object.keys(inputHash);
          keys.sort(function (a, b) {
            return inputHash[a] - inputHash[b]
          }).forEach(function (k) {
            resultHash[k] = inputHash[k];
          });
          return resultHash;
        }

        //////////////////////////////////////////
        // HandleTheKeyboardClicks
        function HandleTheKeyboardClicks() {
          var key = window.event.keyCode;
          // If the user has pressed enter
          if ((key === 13) || (key === 32)) {
            DoTheSearch();
          }
          return true;
        }


        document.getElementById("six-search").onkeypress = HandleTheKeyboardClicks;
        document.getElementById("six-button").onclick = DoTheSearch;


      </script>

    </div>
  </div>
  <div class="usa-identifier">
    <section class="usa-identifier__section usa-identifier__section--usagov"
      aria-label="U.S. government information and services">
      <div class="usa-identifier__container">
        <div class="usa-identifier__usagov-description">
          Looking for U.S. government information and services?
        </div>
        <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
      </div>
    </section>
  </div>
</body>

</html>